<div class="container" style="text-align: center; margin-top: 150px;">
    <!-- modal 1 -->
    <div class="container">
    <button type="button" data-toggle="modal" data-target="#exampleModal">
        <div class="container">
                <div class="container">
                    <h4 style="font-weight: bolder;">Aaron Plahn</h4>
                </div>
            <div class="container">
                <p style="font-weight: lighter;">Full stack web development</p>
            </div>
        </div>
    </button>
    </div>
      
      <!-- Modal 1-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Aaron Plahn</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Enter Aaron's bio and/or contribution here
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: black;">Close</button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- modal 2 -->
        <div class="container">
        <button type="button" data-toggle="modal" data-target="#example">
            <div class="container">
                    <div class="container">
                        <h4 style="font-weight: bolder;">Bella Alphonse</h4>
                    </div>
                <div class="container">
                    <p style="font-weight: lighter;">Tŝilhqot'in Language Material</p>
                </div>
            </div>
        </button>
        </div>
          
          <!-- Modal 2 -->
          <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleLabel">Bella Alphonse</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Enter Bella's bio and/or contribution here
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: black;">Close</button>
                </div>
              </div>
            </div>
          </div>
    
    <!-- modal 3 -->
    <button type="button" data-toggle="modal" data-target="#Modal">
        <div class="container">
                <div class="container">
                    <h4 style="font-weight: bolder;">Justin Bambrick</h4>
                </div>
            <div class="container">
                <p style="font-weight: lighter;">Front end web development</p>
            </div>
        </div>
    </button>
      
      <!-- Modal 3 -->
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Justin Bambrick</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Enter Justin's bio and/or contribution here
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: black;">Close</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    
    
          
    
    
    
    
