<div class="container-fluid">
    <div class="row">
      <div class="col-4">
          <img width="100" alt="Angular Logo" src="assets/images/logo.png">
      </div>
      <div class="col-4">
          <img width="100" alt="Angular Logo" src="assets/images/logo.png">
      </div>
      <div class="col-4">
          <img width="100" alt="Angular Logo" src="assets/images/logo.png">
      </div>
    </div>

    <div class="row">
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
        <div class="col-4">
            <img width="100" alt="Angular Logo" src="assets/images/logo.png">
        </div>
      </div>
  
  </div> 
